@charset "UTF-8";

div.CatDescription{
  max-width: 800px;
}

div.Box{
  text-align: center;
}

div.CatBox{
  display: inline-block;
  width: 400px;
  height: 280px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background-image: url("../image/korukubo-do.jpg");
  background-size: 100%;
}

div.CatBox img{
  float: left;
  margin-left: 42px;
  margin-top: 30px;
}

div.CatBox p{
  margin-right: 40px;
  margin-top: 40px;
}