main div img{
  width: 200px;
  height: 200px;
}

p.AutoIndent{
  word-wrap: break-word;
}

.normal img{
  /*float: right;*/
}

.normal{
  width: auto;
  overflow: hidden;
  margin: 20px;
}

.TextBox{
  margin-left: 0;
}

div.Image_right{
	height: 100%;
	width: auto;
	float: right;
  /*display: inline-block;*/
}

div.box{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.isogasi{
  width: 100%;
  margin: 20px;
}

.nonbiri{
  width: 100%;
}
